#imtop{	
	width:100%;
}	
#btn-group-justified{	
	width:100%;
}	
#kol1{
	height:800px;
}	
#media{	
	width:100%;
	margin-left:0%;
	background:#337ab7;
	border-radius:24px;
	margin-top:3%;
	margin-bottom:5%;
}	
#media-img{
	width:200px;
	height:280px;
	margin-right:10%;
	margin-left:14%;
	margin-top:14%;
	margin-bottom:5%;
	border:1px solid #000;
	float: left;
	border-radius:16px;
}
#myfoto{
	width:200px;
	height:280px;
	margin-right:10%;
	margin-left:20%;
	margin-top:25%;
	margin-bottom:5%;
	border:1px solid #000;
	float: left;
	border-radius:16px;
}
#p{
	margin-left:5%;
	margin-top:4%;
	margin-right:5%;
	color:#FFFFFF;
	text-align: center; 
	font-family:cursive;
	line-height: 28px;
	font-size:16px;
}
#p2{
	margin-left:8%;
	margin-top:4%;
	margin-right:5%;
	color:#FFFFFF;
	text-align: center; 
	font-family:cursive;
	line-height: 28px;
	font-size:16px;
}
#kolcal{
	background-color:#DDDDDD;
}
#dane{
	text-align: center;
}
#dane2{
	text-align: center;
}
#abotme-me1{	
	width:400px;
	height:540px;
	margin-right:5%;
	margin-left:7%;
	margin-top:5%;
	margin-bottom:5%;
	border:1px solid #000;
	float: left;
	border-radius:16px;
}
#abotme-me2{	
	width:380px;
	height:500px;
	margin-right:5%;
	margin-left:7%;
	margin-top:5%;
	margin-bottom:5%;
	border:1px solid #000;
	float: right;
	border-radius:16px;
}
#abotme-me4{	
	width:300;
	height:260px;
	margin-right:5%;
	margin-left:7%;
	margin-top:5%;
	margin-bottom:5%;
	border:1px solid #000;
	float: right;
	border-radius:16px;
}
#lm{
	margin-left:80%;	
}

#img{
	width:250px;
	height:300px;
	margin-top:5%;
}
#bl1{
	background:#337ab7;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	border-radius:24px;
	width:40%;
	position:center;
}
#blk{
	background:#337ab7;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:10%;
	border-radius:24px;
	width:40%;
	position:center;
}
#bl2{
	background:#337ab7;
	margin-top:10%;
	border-color:#337ab7;
}
#b3{
	background:#337ab7;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;	
	border-radius:24px;
	width:40%;
	position:center;
	margin-bottom:10%;
}	
#but, #bn, #kikGP, #KiK, #Snake, #Paint, #AS, #alg {
	margin-left:75%;
	margin-top:4%;
	margin-bottom:6%;
}
#kikG{
	margin-right:5%;
}
#nag{
	color:white;
}
html, body{
	background-color:#DDDDDD;
}
#podbut{
	display: inline-block;
}
#rowc{
	margin-left:20%;
}
#contact-margin{	
	margin-left:20%;
	margin-top:2%;
	margin-right:20%;
}
#pc{
	font-family:cursive;
	line-height: 34px;
	font-size:26px;
	color:#FFFFFF;
}
.media-heading{
	margin-left:5%;
	color:#FFFFFF;
	text-align: center; 
	font-family:cursive;
	line-height: 25px;
	font-size:40px;
}
.block{
	display: inline-block;
	position: center;
}